# Secrets
.env

# Python cache
__pycache__/
*.pyc

# Logs / temp / backup
bot.log
backups/
tmp/

# Ignore database mặc định
*.db
*.sqlite3

# Nhưng cho phép push riêng database chính
!data/
data/*
!data/bot.db